---

---
<div class="bg-light-brown flex justify-around items-center py-10">
    <div>
        <p class="text-[2vw] lg:text-[1.5vw] text-white">
            Copyright 2015 - LA HOTEL METRO
        </p>
    </div>
    <div class="flex gap-4">
        <p class="text-[2vw] lg:text-[1.5vw] text-white">
            Design by <a class="bg-[#f26324]" href="https://arwasys.com">Arwasys Technokraft Pvt. Ltd.</a>
        </p>
    </div>
</div>